
<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} | Juan Pérez</title>
    </head>
    <body>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Portada</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'about-me' %}">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portafolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                </li>
            </ul>
        </div>

    </body>

</html>